{% extends 'mailing/base.html' %}
{% block content %}
<div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'mailing:setting_create' %}">Добавить рассылку</a>
    <a class="btn btn-outline-primary" href="{% url 'mailing:client_create' %}">Добавить клиента</a>
    <a class="btn btn-outline-primary" href="{% url 'mailing:message_create' %}">Добавить сообщение</a>
</div>
<div class="row mb-2">
    {% for setting in object_list %}
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <p class="mb-2">Время начала рассылки: {{ setting.start_time }}</p>
                <p class="mb-2">Время окончания рассылки: {{ setting.end_time }}</p>
                <p class="mb-2">Период рассылки: {{ setting.get_period_display }}</p>
                <p class="mb-2">Статус рассылки: {{ setting.get_status_display }}</p>
                <p class="mb-2">Сообщение: {{ setting.message }} </p>
                {% for client in setting.clients.all %}
                <p class="mb-2">{{ client }}</p>
                {% endfor %} <a href="{% url 'mailing:setting_detail' setting.pk %}"
                                class="icon-link gap-1 icon-link-hover stretched-link">
                Подробнее
                <svg class="bi">
                    <use xlink:href="#chevron-right"/>
                </svg>
            </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<a class="btn btn-outline-secondary rounded-pill" href="{% url 'mailing:start_page' %}">На главную страницу</a>

{% endblock %}